<!DOCTYPE html>
<html>  
    <head>
        <title>
            My Airline
        </title>
    </head>

    <body>
       <table>
            <thead>
                <tr>
                    <th> Flight id </th>
                    <th> Origin </th>
                    <th> Destination </th>
                    <th> Duration </th>
                </tr>
            </thead>

            <tbody>
                {% for sflight in flightlist  %}
                        <tr>
                            <td> 
                                <a href="{% url 'flights:flight' sflight.id %}">
                                    {{sflight.id}}
                                </a>
                            </td>
                            <td> {{sflight.origin.city}} </td>
                            <td> {{sflight.destination.city}} </td>
                            <td> {{sflight.duration}} </td>
                        </tr>
                {% endfor %}
            </tbody>
       </table>
    </body>

</html>